<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
<div class='zcwf_title' style='max-width: 600px;color: black;'>Contact Form</div>
<div class='zcwf_row'>
  <div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'>
    <label for='First_Name'>First Name<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='First_Name' name='First Name' maxlength='40' /><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Last_Name'>Last Name<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Last_Name' name='Last Name' maxlength='80' /><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Company'>Company<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Company' name='Company' maxlength='100' /><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='No_of_Employees'>No. of Employees</label></div><div class='zcwf_col_fld'><input type='text' id='No_of_Employees' name='No of Employees' maxlength='9' /><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Industry'>Industry</label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='Industry' name='Industry'  >
			<option value='-None-'>-None-</option>
			<option value='ASP&#x20;&#x28;Application&#x20;Service&#x20;Provider&#x29;'>ASP &#x28;Application Service Provider&#x29;</option>
			<option value='Data&#x2f;Telecom&#x20;OEM'>Data&#x2f;Telecom OEM</option>
			<option value='ERP&#x20;&#x28;Enterprise&#x20;Resource&#x20;Planning&#x29;'>ERP &#x28;Enterprise Resource Planning&#x29;</option>
			<option value='Government&#x2f;Military'>Government&#x2f;Military</option>
			<option value='Large&#x20;Enterprise'>Large Enterprise</option>
			<option value='ManagementISV'>ManagementISV</option>
			<option value='MSP&#x20;&#x28;Management&#x20;Service&#x20;Provider&#x29;'>MSP &#x28;Management Service Provider&#x29;</option>
			<option value='Network&#x20;Equipment&#x20;Enterprise'>Network Equipment Enterprise</option>
			<option value='Non-management&#x20;ISV'>Non-management ISV</option>
			<option value='Optical&#x20;Networking'>Optical Networking</option>
			<option value='Service&#x20;Provider'>Service Provider</option>
			<option value='Small&#x2f;Medium&#x20;Enterprise'>Small&#x2f;Medium Enterprise</option>
			<option value='Storage&#x20;Equipment'>Storage Equipment</option>
			<option value='Storage&#x20;Service&#x20;Provider'>Storage Service Provider</option>
			<option value='Systems&#x20;Integrator'>Systems Integrator</option>
			<option value='Wireless&#x20;Industry'>Wireless Industry</option>
			<option value='ERP'>ERP</option>
			<option value='Management&#x20;ISV'>Management ISV</option>
		</select><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Email'>Email<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' ftype='email' id='Email' name='Email' maxlength='100' /><div class='zcwf_col_help'> <span title='username&#x40;xyz.com' style='cursor: pointer; width: 16px; height: 16px; display: inline-block; background: #fff; border: 1px solid #ccc; color: #ccc; text-align: center; font-size: 11px; line-height: 16px; font-weight: bold; border-radius: 50%;' onclick='tooltipShow248133000000194655(this)'>?</span><div class='zcwf_tooltip_over' style='display: none;'><span class='zcwf_tooltip_ctn'>username&#x40;xyz.com</span></div></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Phone'>Phone<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Phone' name='Phone' maxlength='30' /><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='Country'>Country<span style='color:red;'>*</span></label></div><div class='zcwf_col_fld'><input type='text' id='Country' name='Country' maxlength='100' /><div class='zcwf_col_help'></div></div></div><div class='zcwf_row'><div class='zcwf_col_lab'></div><div class='zcwf_col_fld'><input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Submit' title='Submit'><input type='reset' class='zcwf_button' name='reset' value='Reset' title='Reset'></div></div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

